body{
	padding: 0;
    margin: 0;
	background:#f4f4f4;
}

/* bootstrap override */
.navbar {
    background: #666666;
}
.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important; 
}
.nav-link:hover {
    background: #f4f4f4;
    
}

.navbar-collapse {
    justify-content: flex-end;
}
.navbar-toggler {
    background:#f4f4f4;
}

.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    position: relative;
    margin-top: -4px;
    width: 20px;
    height: 2px;
    background-color: #666666;
}
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    display: block;
}

.navbar-toggler-icon::before {
    transform: translateY(-2px);
}

.navbar-toggler-icon::after {
    transform: translateY(12px);
}


/* header style */
.header {
    position: relative;
    background-image: url('../images/logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.5);
}

.description {
    position: relative;
    margin-top: 5%;
    padding: 2em;
}

.description h1 {
    color: #000;
    text-align: center;
}

.description p {
    color:#333333;
    font-size: 20px;
    width: 100%;
    line-height: 1.5;
    margin-top: 10%;
    text-align: justify;
}


  


.desc { 
}

.desc p {
      
}


.page-footer {
    background-color: #666666;
    padding: 5px;
    
}
.footer-copyright {
    color: #f4f4f4;
    padding-left: 0;
}
.footer-copyright a span {
    color: #f4f4f4;
}

.footer-img {
    padding-right: 0;
}

.footer-img img {
    width: 120px;
    float: right;
}

/* mobile */

@media screen and (max-width: 768px) {
    .tab h1 {  
        margin: 0;
    }
    .tab {
        margin: 2em 0;
    }

}

@media screen and (max-width: 980px) {
    .nav-item {
        margin-left: -5px;
    }
    .nav-item .nav-link {
        padding-left: 10px;
        margin-right: 0;
    }
}    




.social a {
    text-align: center;
    width: 46px;
    height: 46px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 6px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}

.instagram a:hover {
    background: #3f729b; color: #fff;
}
.facebook a:hover {
    background: #3b5998; color: #fff;
}

